<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head"></head>

<body>
<div th:insert="navbar"></div>
<div class="container jumbotron">
    <div class="h1">Bug Tracker</div>
    <p>Quisque lacinia pellentesque libero, in condimentum enim. Proin pellentesque neque at massa fringilla, ac dapibus lorem pulvinar. Ut lobortis volutpat est id posuere. Quisque eleifend odio quis malesuada facilisis. Suspendisse placerat, velit eu rutrum accumsan, urna turpis tempus dolor, ac lobortis lectus dolor ut tortor. Proin ac egestas nibh. Nam non felis quis mauris lobortis sagittis vel vel enim. Quisque lacinia pellentesque libero, in condimentum enim. Proin pellentesque neque at massa fringilla, ac dapibus lorem pulvinar. Ut lobortis volutpat est id posuere. Quisque eleifend odio quis malesuada facilisis. Suspendisse placerat, velit eu rutrum accumsan, urna turpis tempus dolor, ac lobortis lectus dolor ut tortor. Proin ac egestas nibh. Nam non felis quis mauris lobortis sagittis vel vel enim.</p>
</div>
</body>
</html>
